/*html,body{height:100%;overflow: hidden;flex: 1}*/
@font-face {
    font-family: 'detail';  /* project id 69439 */
    src: url('//at.alicdn.com/t/font_1467964616_7432158.eot');
    src: url('//at.alicdn.com/t/font_1467964616_7432158.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1467964616_7432158.woff') format('woff'),
    url('//at.alicdn.com/t/font_1467964616_7432158.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1467964616_7432158.svg#iconfont') format('svg');
}